.product-listing {
  display: block;
  margin: 2vh 2vw;
  width:96%
}

.product-listing > * {
  justify-self: center;
}

.product-listing > .products {
  display: flex;
  gap: 2ch;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.product-listing > .products > * {
  justify-self: center;
  align-self: flex-start;
}
.product-listing > .products > .card-horizontal {
  align-self: flex-start;
}

.filter .form,
.product-listing .form {
  box-shadow: 0 0 3px var(--color-shadow);
  height: 70vh;
  overflow-y: scroll;
  flex-flow: row wrap;
  width: 30rem;
}
.filter-type-toggle .btn,
.filter-type-toggle .reset-categories,
.product-listing .reset-categories {
  width: fit-content;
  padding: 0.5ch;
}

.filter-type-toggle .form {
  justify-content: flex-end;
}

.filter-type-toggle,
.filter-type-toggle *,
.filter,
.filter * {
  margin-left: auto;
  text-align: right;
  line-height: 1.25em;
}
.products .rating-wrapper {
  margin: 1ch 0 3ch 8ch;
}
.products .card-container {
  position: relative;
}
.product-listing > .filter .list {
  margin: 1ch 0;
}
.product-listing > .filter .form-item .list-item {
  font-size: 1.1em;
}
.form-item label.strong {
  font-weight: 900;
}
@media screen and (min-width: 60em) {
  html {
    font-size: 65.4%;
  }
  body {
    margin: 0.25rem;
  }
  .product-listing {
    display: grid;
    grid-template-areas: "filters products";
    grid-template-columns: min-content 1fr;
    justify-content: center;
    gap: 2vw;
  }
  .product-listing > .filter {
    grid-area: filters;
    position: sticky;
    top: 5%;
    margin-top: 1ch;
  }

  .product-listing > .filter .form-item .list-item {
    font-weight: 300;
  }
  .product-listing > .filter .list-item > .list-item {
    place-items: initial;
  }
  .product-listing > .products {
    grid-area: products;
    max-height: 100%;
    overflow-y: auto;
  }
  .filter-form {
    display: flex;
    flex-flow: column wrap;
    position: sticky;
    top: 5%;
  }

  main {
    width: 96%;
    margin: 0
  }
}

.filter .form-item,
.filter .form-item p{
  width: 100%;
  margin: 8px auto;
}
.form-item p{
  display: flex;
}
.filter-form #range-price {
  width: 60%;
  height: 5px;
  padding: 0;
  background: repeating-linear-gradient(to right, 
    #ccc, 
    #ccc 10%, 
    #000 10%, 
    #000 11%, 
    #ccc 11%, 
    #ccc 5%);
}
.filter-form option {
  color: aliceblue;
}
#range-price::after,
#range-price::before {
  display: none;
}
#range-price::-moz-range-track {
  height: 10px;
  padding: 0 10px;
  background: repeating-linear-gradient(to right, 
    #ccc, 
    #ccc 10%, 
    #000 10%, 
    #000 11%, 
    #ccc 11%, 
    #ccc 5%);
}
