/* to be deleted later */
.nav-header {
  margin-bottom: 2rem;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: nowrap;
}
.nav-header * {
  place-self: center;
  text-align: center;
  flex: 0 1 15%;
}
.nav {
  flex-flow: column nowrap;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  letter-spacing: 0.5ch;
}
.nav-site {
  margin: 0;
}
.nav .list-inline {
  margin: unset;
  flex-flow: row wrap;
  justify-content: center;
}
.nav .list-inline .list-item {
  padding: 0;
}

.nav-header .logo {
  width: clamp(4rem, 8rem, 12rem);
  height: auto;
  border-radius: 5px;
  margin: 1ch;
}

.nav-header .active {
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: 400;
}
.nav-header .notActive {
  color: var(--color-primary-inverse);
}
.nav-header .btn-icon {
  width: 100px;
  height: 100px;
  margin: 0.5ch;
  padding: 0.5ch;
  font-size: 0.8em;
}
.nav-header .btn-icon .icon {
  min-width: 3rem;
  max-width: 3rem;
}

.nav-header section {
  flex-flow: row wrap;
}
.nav-header .private-menu-wrapper {
  position: relative;
  flex-shrink: 2;
}

.search-data-list {
  display: flex;
  flex-flow: column wrap;
  width: clamp(30vw, 30rem, 80vw);
  padding: 1ch;
  overflow-wrap: break-word;
  position: absolute;
  top: 100%;
  left: 2%;
  z-index: 2;
}

.search-data-list .list-item {
  align-self: flex-start;
  height: fit-content;
  border-bottom: 1px solid var(--color-secondary);
  margin-top: 1ch;
}
.search-data-list > .list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.search-data-list > .list-item > strong {
  margin-right: 1ch;
  padding-right: 2ch;
  border-right: 3px solid black;
}
.search-data-list .list-item > .list {
  flex-grow: 1;
}
.search-data-list .list-item > ul .list-item:focus,
.search-data-list .list-item > ul .list-item:hover {
  background-color: violet;
}
.search-data-list .list-item > ul .list-item {
  margin-bottom: 8px;
  padding: 4px;
  font-size: 1em;
  line-height: 1.5em;
}
.search-data-list .list-bulleted {
  --list-item-bullet-space: 1ch;
}
.search-data-list .list-bulleted .list-item {
  font-style: italic;
}
.nav-header .private-menu {
  position: absolute;
  z-index: 2;
  bottom: -2;
  left: -50%;
  width: fit-content;
}

.private-menu .list-item {
  padding-left: 0;
}
.private-menu .btn {
  margin: 0;
}
.nav-header .btn {
  width: 200px;
  min-height: 4rem;
  padding: 1ch;
  margin: 1ch;
}
.nav-header .btn-hamburger {
  width: 12px;
  /* flex: 0 2 2%; */
}

.btn.clear-search,
.btn.btn-search {
  width: fit-content;
  height: fit-content;
  font-size: 1.5em;
}
input[type="search"],
.btn.clear-search,
.btn.btn-search {
  margin: inherit 0;
  padding: inherit 0;
}
.site-auth-nav-wrapper {
  text-align: center;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
}
.search-wrapper * {
  place-self: center;
}
.search-input-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.search-wrapper input[type="search"] {
  min-width: 15ch;
  max-width: 25ch;

}
.search-wrapper input[type="search"] + .btn.clear-search {
  visibility: hidden;
}
.search-wrapper input[type="search"]:focus + .btn.clear-search {
  visibility: visible;
}
.search-wrapper .btn {
  margin: 0;
  height: max-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 48px;
}

.nav-header .btn-toggle-theme {
  min-width: fit-content;
  max-width: 4rem;
  min-height: fit-content;
  max-height: 3rem;
  padding: 0;
  border-radius: 25px;
  display: block;
}
.invisible {
  visibility: hidden;
}
@media screen and (min-width: 25em) {
  .search-wrapper {
    flex-wrap: nowrap;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  display: none;
}
@media screen and (max-width: 35em) {
  .search-wrapper .btn {
    max-width: 1em;
    padding: 4px;
  }
  .search-input-wrapper {
    /* flex-wrap: wrap; */
    gap: 0;
    max-width: 30em;
    margin: auto;
    border: 10px solid salmon;
    font-size: 0.8em;
  }
}
@media screen and (min-width: 70em) {
  .nav-site {
    flex-flow: row wrap;
  }
  .nav-header.center-xy {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .nav-header > * {
    align-self: center;
    justify-self: center;
  }
}
